.scroll-bar {
    -fx-padding: 0;
}

.list-view {
    -fx-focus-color: #0000;
    -fx-paint-focus-color: #0000;
}

.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:focused:selected {
    -fx-background-color: #E8E6FF;
}

.list-cell:filled:selected:focused,
.list-cell:filled:selected,
.list-view:horizontal > .virtual-flow > .clipped-container > .sheet > .list-cell:filled:selected {
    -fx-background-color: #E8E6FF;
}

.scroll-bar .decrement-arrow,
.scroll-bar .increment-arrow,
.scroll-bar .decrement-button,
.scroll-bar .increment-button {
    visibility: hidden;
    -fx-min-width: 0;
    -fx-min-height: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}
.scroll-bar:vertical,
.scroll-bar:horizontal {
    -fx-padding: 0;
    -fx-background-color: transparent;
}
.scroll-bar:vertical {
    -fx-pref-width: 7;
}
.scroll-bar:horizontal {
    -fx-pref-height: 7;
}
.scroll-bar:vertical .thumb,
.scroll-bar:horizontal .thumb {
    -fx-background-color: #C5F0FC;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
